<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <php>
        <ini name="memory_limit" value="1G"/>
    </php>

    <testsuites>
        <testsuite name="Anokii">
            <directory>tests</directory>
            <directory>packages/operator/tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
            <directory>packages/operator/src</directory>
        </include>
    </source>
</phpunit>
